.card-wrapper {
  color: #fff;
  ul {
    padding: 0;
    li {
      padding: 10px 0;
      span {
        margin-right: 15px;
      }
    }
  }
  p {
    margin: 0;
  }
}
.card-details__wrapper {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  .w-temperature {
    font-size: 90px;
  }
  .w-description {
    font-size: 24px;
    span {
      font-size: 70px;
    }
  }
}
