.icon {
  font-size: 30px;
}

ul.list-view {
  padding: 30px 0;
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  li {
    padding: 10px 0;
    margin-right: 30px;
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
    }
  }
}
